/* Universal */
body{
    font-family: 'Kanit', sans-serif;
}
.row-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    padding-left: 10px;
    padding-right: 30px;
    text-decoration: none;
    color : black;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #fff188;
    height: 5vh;
    color: rgb(48, 46, 46);
}
.title{
    font-family: 'Varela Round', sans-serif;
    font-size: 4rem;
    position: absolute;
    z-index: 2;
    padding-top: 5vw;
    font-weight: 500;
}

.card img{
    border-radius: 10px;
    width: 300px;
}
.card {
    width: 300px;
    background-color: #fff188;
    pointer-events: none;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 50px;
    margin: 50px 10px 25px 10px;
    padding: 0;
    border: solid 0;
    text-align: center;
}

.card-body{
    background-color: #f6efdc;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.col{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.row{
    justify-content: center;
}

.hide{
    height: 0;
}
