<form action ="/addcat" method="POST" enctype="multipart/form-data">
    <h3>Upload Cat Photo</h3>
    <input type="file" name="sampleFile" accept="image/*"/>
    <input type="submit" class="btn btn-primary">
</form>
