<!DOCTYPE html>
<html>
  <head>
    <title>Bann K&T Cattery - ฟาร์มแมวบริติช ช็อตแฮร์</title>
    <meta name="keywords" content="ฟาร์มแมวบริติช, British, ฟาร์มแมว, British Shorthair, Bann K&T">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./images/icon.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Titillium+Web:wght@300;900&family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <link href="sirdam.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="./">Bann K&T Cattery</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cats">Available Cat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./parents"
                >Sir/Dam</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact">Contact</a>
            </li>
          </ul>
          <div class="d-flex">
            <div class="row-nav">
              <i class="fa-brands fa-facebook fa-xl"></i>
              <a href="https://www.facebook.com/bannkat2022">British Bann K&T</a>
              <i class="fa-brands fa-facebook fa-xl"></i>
              <a href="https://www.facebook.com/bannkat2021">Bann K&T</a>
              <i class="fa-solid fa-phone"></i>
              <a href="tel:081-919-6931">081 919 6931</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="d-flex justify-content-center">
      <h1 class="title">Sir / Dam</h1>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff188"
        fill-opacity="1"
        d="M0,160L40,181.3C80,203,160,245,240,261.3C320,277,400,267,480,261.3C560,256,640,256,720,256C800,256,880,256,960,245.3C1040,235,1120,213,1200,218.7C1280,224,1360,256,1400,272L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"
      ></path>
    </svg>

    <div class="container">
      <h1>Sir / พ่อพันธุ์</h1>
      <div class="row d-flex flex-wrap">
      <% var countmale = 0 %>
        <% for (var c of cats) { %>
          <%if (c.gender === "male") {%>
            <% countmale = countmale + 1%>
            <div class="card">
              <img
                src="./images/sirdam/<%=c.image%>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h4 class="card-title">
                  <B><%=c.name%></B>
                </h4>
              </div>
            </div>
          <% } %>
        <% } %>
  
        <% for (i=0;i<4-(countmale%4);i++) {%>
          <div class="card hide"></div>
        <% } %>
      </div>
      <h1 id="dam">Dam / แม่พันธุ์</h1>
      <div class="row d-flex flex-wrap">
        <% for (var c of cats) {%>
          <% if(c.gender==="female"){%>
            <div class="card">
              <img
                src="./images/sirdam/<%=c.image%>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h4 class="card-title">
                  <B><%=c.name%></B>
                </h4>
              </div>
            </div>
          <% } %>
        <% } %>

        <% for (i=0;i<4-((cats.length-countmale)%4);i++) {%>
          <div class="card hide"></div>
        <% } %>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff188"
        fill-opacity="1"
        d="M0,160L34.3,170.7C68.6,181,137,203,206,208C274.3,213,343,203,411,197.3C480,192,549,192,617,202.7C685.7,213,754,235,823,224C891.4,213,960,171,1029,144C1097.1,117,1166,107,1234,117.3C1302.9,128,1371,160,1406,176L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
      ></path>
    </svg>
    <footer>
      <p>© All rights reserved | <a href="/admin">pkbsa</a></p>
    </footer>

    <script
      src="https://kit.fontawesome.com/100c767ee6.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
